In [1]:
##dependecies and Data loading
import pandas as pd

##path to csv

path = "../resources/purchase_data.csv"

purchase_df = pd.read_csv(path)

purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#counting players
unique_players = pd.DataFrame({"Total Players":purchase_df["SN"].unique()})
total_players = unique_players["Total Players"].count()
total_players

576

In [3]:
#Unique items/Average Price/Number of Purchases/Total Revenue
unique_items = pd.DataFrame(purchase_df["Item Name"].unique())
item_count = unique_items.count()
avg_price = purchase_df["Price"].mean()
num_purchases = purchase_df["Purchase ID"].count()
total_revenue = purchase_df["Price"].sum()
#Summary Table
summary_df = pd.DataFrame({"Number of Unique Items": item_count,
                          "Average Price": avg_price,
                          "Number of Purchases": num_purchases,
                          "Total Revenue": total_revenue
                          })
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [4]:
#Gender Demographics
genders = purchase_df["Gender"].value_counts()
gender_demo = pd.DataFrame({"Total Count": genders,
                           "Percentage": round(genders/780,2)*100})
gender_demo

                       Total Count  Percentage
Male                           652        84.0
Female                         113        14.0
Other / Non-Disclosed           15         2.0

In [5]:
#Gender Purchase Report
#Grouping gender
grouped_gender = purchase_df.groupby(["Gender"])
#purchase Count
gender_pc = grouped_gender["Purchase ID"].count()
#Average purchase price 
gender_avgp = grouped_gender["Price"].mean()
#Total Purchase Value
total_revenue = grouped_gender["Price"].sum()
#Average total purchase per person
gender_unique_sn = grouped_gender["SN"].unique()
unique_f = len(gender_unique_sn["Female"])
unique_m = len(gender_unique_sn["Male"])
unique_nd = len(gender_unique_sn["Other / Non-Disclosed"])

#Summary Table
summary_gender = pd.DataFrame({"Purchase Count": gender_pc,
                              "Average Purchase Price":round(gender_avgp,2),
                              "Total Purchase Value":total_revenue,
                              "Avg Total Purchase per Person":round(total_revenue/[unique_f,unique_m,unique_nd],2)})
summary_gender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.20,361.94,4.47
Male,652,3.02,1967.64,4.07
Other / Non-Disclosed,15,3.35,50.19,4.56

In [42]:
#Age Demographics bins
bins_age = [0,9,14,19,24,29,34,39,50]
bins_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#Adding to Df and grouping
purchase_df[""] = pd.cut(purchase_df["Age"], bins_age, labels=bins_labels)
age_group = purchase_df.groupby("")
ages = age_group["Purchase"].count()

# New df
age_summary = pd.DataFrame({"Total Count":ages,
                           "Percentage of Players":round((ages/576)*100,2)})
age_summary

       Total Count  Percentage of Players

<10             23                   3.99
10-14           28                   4.86
15-19          136                  23.61
20-24          365                  63.37
25-29          101                  17.53
30-34           73                  12.67
35-39           41                   7.12
40+             13                   2.26

In [46]:
#Age Purchase Report
#Age Demographics bins
bins_age = [0,9,14,19,24,29,34,39,50]
bins_labels = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#Adding to Df and grouping
purchase_df["Age Ranges"] = pd.cut(purchase_df["Age"], bins_age, labels=bins_labels)
age_group = purchase_df.groupby("Age Ranges")
#Age Purchase Count
age_pc = age_group["Purchase ID"].count()
#Age Group Average Price
age_avgp = round(age_group["Price"].mean(),2)
#Age Total Revenue
age_total = age_group["Price"].sum()
#Average total purchase per Person

# New df
age_analysis = pd.DataFrame({"Purchase Count":age_pc,
                           "Average Purchase Price":age_avgp,
                            "Total Purchase Value":age_total,
                            "Avg Total Purchase per Person":round(age_total/age_pc,2)})
age_analysis

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,3.35,77.13,3.35
10-14,28,2.96,82.78,2.96
15-19,136,3.04,412.89,3.04
20-24,365,3.05,1114.06,3.05
25-29,101,2.90,293.00,2.90
30-34,73,2.93,214.00,2.93
35-39,41,3.60,147.67,3.60
40+,13,2.94,38.24,2.94